a:link, a:visited, a:hover, a:focus, a:active{
    text-decoration : none;
    color : inherit;
    text-decoration-color: inherit;
}
ul{
    list-style: none;
}
.header{
    width: 96%;
    height: 58px;
    padding : 10px 50px 10px 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //background: linear-gradient(to bottom, rgba(20, 20, 20, 0.3) 10%, transparent);
    background: white;
    position: fixed;
}
.header_title{
    font-size: 25px;
    color: #ffcd00;
    font-weight: 400;
}
.header_box{
    display: flex;
    flex-direction: row;
}
.header_box_text{
    padding : 0 10px 0 10px;
}
.header_box_text:hover{
    font-weight: 600;
}

.header_box_scroll{
    padding : 0 10px 0 10px;
    color: white;
    font-weight: 500;
}
.header_box_bar{
    width: 1px;
    height: 20px;
    background-color: #282c34;
    margin: 3px 10px 0 20px;
}
.header_box_login{
    padding : 0 20px 0 20px;
}
.header_box_login:hover{
    font-weight: 600;
}

.nav{
    width: 96%;
    height: 58px;
    padding : 10px 50px 10px 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: white;
}