ul{
    list-style: none;
}
.header{
    width: 96%;
    height: 58px;
    padding : 10px 50px 10px 45px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.header_title{
    font-size: 25px;
    color: #ffcd00;
    font-weight: 400;
}
.header_box{
    display: flex;
    flex-direction: row;
}
.header_box_text{
    padding : 0 10px 0 10px;
}
.header_box_text:hover{
    font-weight: 600;
}
.header_box_bar{
    width: 1px;
    height: 20px;
    background-color: #282c34;
    margin: 3px 10px 0 20px;
}
.header_box_login{
    padding : 0 20px 0 20px;
}
.header_box_login:hover{
    font-weight: 600;
}